on:
  workflow_dispatch:
    inputs:
      id:
        description: Bubbli ID (path of share URL)
        required: true

jobs:
  convert:
    name: Convert cubemap to equirectangular
    runs-on: ubuntu-22.04
    steps:
    - name: Help
      run: wget --help
    - name: Setup Blender
      uses: Moguri/setup-blender@v1
      with:
        blender-version: "5.0.0"
    - name: Setup Python
      uses: actions/setup-python@v6.0.0
      with:
        python-version: "^3.8.0"
    - name: Install cube2sphere
      run: pip install cube2sphere
    - name: Download files
      run: >
        wget 
          https://d39cwcjmzdw2iw.cloudfront.net/${{ inputs.id }}/stitched_pz.jpg 
          https://d39cwcjmzdw2iw.cloudfront.net/${{ inputs.id }}/stitched_nz.jpg 
          https://d39cwcjmzdw2iw.cloudfront.net/${{ inputs.id }}/stitched_nx.jpg 
          https://d39cwcjmzdw2iw.cloudfront.net/${{ inputs.id }}/stitched_px.jpg 
          https://d39cwcjmzdw2iw.cloudfront.net/${{ inputs.id }}/stitched_py.jpg 
          https://d39cwcjmzdw2iw.cloudfront.net/${{ inputs.id }}/stitched_ny.jpg 
    - name: Convert with cube2sphere
      run: >
        cube2sphere 
          stitched_pz.jpg 
          stitched_nz.jpg 
          stitched_nx.jpg 
          stitched_px.jpg 
          stitched_py.jpg 
          stitched_ny.jpg 
          -ocubemap -fJPG
