on:
  workflow_dispatch:
    inputs:
      id:
        description: Bubbli ID (path of share URL)
        required: true

jobs:
  convert:
    name: Convert cubemap to equirectangular
    runs-on: ubuntu-22.04
    steps:
    - name: Setup Blender
      uses: Moguri/setup-blender@v1
      with:
        blender-version: "5.0.0"
    - name: Setup Python
      uses: actions/setup-python@v6.0.0
      with:
        python-version: "^3.8.0"
    - name: Install cube2sphere
      run: pip install cube2sphere
    - name: Intall Python requests
      run: pip install requests
    - name: Download files
      run: wget https://d39cwcjmzdw2iw.cloudfront.net/${{ inputs.id }}/stitched_nx.jpg
